#first {
    background-image: url("assets/background.jpg");
    opacity: 0.97;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    padding: 0%;
    height: 1000px;
    margin: 0%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(143, 169, 198, 0.2);
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    font-size: 30px;
    position: center;
}

body {
    background-size: cover;
    padding: 0%;
    height: 2000px;
    margin: 0%;
    background-color: rgb(216, 206, 226);
    text-align: left;
}

#cab {
    color: linen;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 0%;
    padding: 0%;
    padding-top: 350px;
}

h5 {
    color: linen;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

body {
    padding: 0%;
    margin: 0%;
}

h3 {
    color: black;
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 0%;
    padding-top: 20px;
}

h4 {
    color: black;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    padding-left: 20px;
}

#p1 {
    color: black;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    padding-left: 20px;
}

#paradiv {
    width: 600px;
    height: fit-content;
}

.grid-container {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.grid-container>div {
    padding: 20px 0;
    size: auto;
    background-color: rgb(100, 79, 79);
}

#img1 {
    background-image: url("assets/index1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#img2 {
    background-image: url("assets/index2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#img3 {
    background-image: url("assets/index3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#img4 {
    background-image: url("assets/index4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.homeimg {
    padding: 1px;
    margin: auto;
    width: 590px;
    height: 400px;
    border: 10px;
}

div.homeimg:hover {
    border: 1px solid #777;
}